<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.9">
    <title>Nodejsapplication</title>
    <style>
        header h1 {
            font-size: 60pt;
            background-color: darkcyan;
            color: #eee;
            text-align: right;
            margin: 0px;
        }

        body {
            font-size: 14pt;
            color: #999;
            margin: 5px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Template application</h1>
    </header>
    <div role="main">
    <p>Using template, try to construct application</p>
        <p>テンプレートを使い、アプリケーション構築に挑戦。</p>
    </div>
    <h2>How to construct application?</h2>
</body>
</html>